<a href="https://colab.research.google.com/github/lenaphamthi/baitap1/blob/master/baitaptailop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

bai 1

In [24]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

bai 2

In [27]:
x = 5
for i in range(0, x + 1):
    for j in range(x - i, 0, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

bai 3

In [29]:
s =0
n = int(input("nhap mot so: "))
for i in range(1, n + 1, 1):
    s = s+i
print("tong: ", s)

nhap mot so: 4
tong:  10

bai 4

In [19]:
n = int(input("bang cuu chuong: "))
for i in range(1, 11):
    x = n * i
    print(x)

bang cuu chuong: 5
5
10
15
20
25
30
35
40
45
50

bai 5

In [34]:
for i in range(1,25):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

bai 6

In [37]:
x = int(input("nhap so : "))
print ("tong so chu so: ",len(str(x)))

nhap so : 34454
tong so chu so:  5

bai 7

In [43]:
for i in range(10,1,-1):
  print(i)

10
9
8
7
6
5
4
3
2

bai 8

In [47]:
for i in range(-10,0):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

bai 9

In [61]:
for i in range(1,11):
  print(i)
else:
  print("Done!")

1
2
3
4
5
6
7
8
9
10
Done!

bai 10

bai 11

bai 12

In [60]:
x = int(input("nhap mot so: "))
y= 1
if x < 0:
    print("Giai thừa không tồn tại")
elif x == 0:
    print("Giai thừa của 0 là 1")
else:
    for i in range(1, x + 1):
        y = y * i
    print("Giai thua cua", x, "la", y)

nhap mot so: 3
Giai thua cua 3 la 6

bai 13

bai 14

bai 15

In [30]:
x = int(input("nhap mot so: "))
for i in range(1, x + 1):
    print(" so:", i, " khoi lap phuong la", (i * i * i))

nhap mot so: 6
 so: 1  khoi lap phuong la 1
 so: 2  khoi lap phuong la 8
 so: 3  khoi lap phuong la 27
 so: 4  khoi lap phuong la 64
 so: 5  khoi lap phuong la 125
 so: 6  khoi lap phuong la 216